torch==2.3.0
sentencepiece==0.2.0
tqdm==4.66.1

# https://download.llamameta.net/*?Policy=eyJTdGF0ZW1lbnQiOlt7InVuaXF1ZV9oYXNoIjoiOG91cXptNG1keTdwY2NjN3ZlZGxhM3NiIiwiUmVzb3VyY2UiOiJodHRwczpcL1wvZG93bmxvYWQubGxhbWFtZXRhLm5ldFwvKiIsIkNvbmRpdGlvbiI6eyJEYXRlTGVzc1RoYW4iOnsiQVdTOkVwb2NoVGltZSI6MTcyNTExNDcwNH19fV19&Signature=N0WTZjWNbgNXTwnyVHpu41AVlvmx%7Et2QsENgpsCUDxuabxS0KZuDGSS8OUh9JA-3EciTaUSZ5cbnCAeJtsehrtyRghrs6k1WmTDtFWQKyKv0DKaNphosHohtQ8pbu8I4WIOCniMOSuYj780sFQtdG7oFuoe0Jcl2dKmkmLhMpd6b3kQsAr8E7N1WM3K%7EnACjqZVDbtR%7EynMFkgmKsOX-SVJGlk2M1F2pb4xkTVH9bfuMBq3etGwtulgOgm51f-ZZ4os%7E-W1Aq59FmzorPkGdKNBIHV5XFoPtE2lYnAu7n9M9YFaYWv-0Zuj4B89e-SmdfAmqeIVtPnEIV1U5kPz5Sw__&Key-Pair-Id=K15QRJLYKIFSLZ&Download-Request-ID=1681857169254796